@using Sensei.Data

@if (showHiragana)
{
    @*<Speaker text="@Syllables.HiraganaDiacritics[syllab]"></Speaker>*@
    <a href="/kana/@syllab">@Syllables.HiraganaDiacritics[syllab]</a>
    <br />
}
@if (showKatakana)
{
    @*<Speaker text="@Syllables.KatakanaDiacritics[syllab]"></Speaker>*@
    <a href="/kana/@syllab">@Syllables.KatakanaDiacritics[syllab]</a>
    <br />
}
@if (showRomaji)
{
    @syllab
}
@code {
    [Parameter]
    public string syllab { get; set; }
    [Parameter]
    public bool showRomaji { get; set; } = false;
    [Parameter]
    public bool showHiragana { get; set; } = false;
    [Parameter]
    public bool showKatakana { get; set; } = false;
}
