<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sensei</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gojuon">
                <span class="oi oi-text" aria-hidden="true"></span> Kana
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kanji">
                <span class="oi oi-minus" aria-hidden="true"></span> Kanji
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="game">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Game
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cards">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cards
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dates">
                <span class="oi oi-calendar" aria-hidden="true"></span> Dates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="numerals">
                <span class="oi oi-calculator" aria-hidden="true"></span> Numerals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="radicals">
                <span class="oi oi-brush" aria-hidden="true"></span> Radicals
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="radicalCards">
                <span class="oi oi-brush" aria-hidden="true"></span> Radical Cards
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="verbs">
                <span class="oi oi-book" aria-hidden="true"></span> Verbs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="translate">
                <span class="oi oi-globe" aria-hidden="true"></span> Translate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transliterate">
                <span class="oi oi-transfer" aria-hidden="true"></span> Transliterate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="discussion">
                <span class="oi oi-chat" aria-hidden="true"></span> Discussion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vocabulary">
                <span class="oi oi-book" aria-hidden="true"></span> Vocabulary
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
