@page "/"

<PageTitle>Sensei</PageTitle>

<div class="row no-gutters mx-n2">
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <img src="img/kanji/gif/語.gif" class="card-img-top d-none d-sm-block">
            <div class="card-body">
                <h5 class="card-title">Kanji 漢字</h5>
                <p class="card-text">Learn Kanji.</p>
                <a href="kanji" class="btn btn-primary">Kanji</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <img src="img/kanji/radicals/⺅.gif" class="card-img-top d-none d-sm-block">
            <div class="card-body">
                <h5 class="card-title">Radicals 部首</h5>
                <p class="card-text">Learn Radicals.</p>
                <a href="radicals" class="btn btn-primary">Radicals</a>
            </div>
        </div>
    </div>
   @* <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <img src="img/hiragana/svg/a.svg" class="card-img-top d-none d-sm-block">
            <div class="card-body">
                <h5 class="card-title">Hiragana ひらがな</h5>
                <p class="card-text">All hiragana characters.</p>
                <a href="hiragana" class="btn btn-primary">Hiragana</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <img src="img/katakana/svg/a.svg" class="card-img-top d-none d-sm-block">
            <div class="card-body">
                <h5 class="card-title">Katakana カタカナ</h5>
                <p class="card-text">All katakana characters.</p>
                <a href="katakana" class="btn btn-primary">Katakana</a>
            </div>
        </div>
    </div>*@
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <img src="img/hiragana/svg/a.svg" class="card-img-top d-none d-sm-block">
            <div class="card-body">
                <h5 class="card-title">Gojūon 五十音</h5>
                <p class="card-text">Display Gojūon chart.</p>
                <a href="gojuon" class="btn btn-primary">Gojūon</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <img src="img/kanji/gif/語.gif" class="card-img-top d-none d-sm-block">
            <div class="card-body">
                <h5 class="card-title">JLPT</h5>
                <p class="card-text">Learn JLPT Kanji.</p>
                <a href="learn" class="btn btn-primary">Learn</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Cards</h5>
                <p class="card-text">Flip cards.</p>
                <a href="game" class="btn btn-primary">Cards</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Game</h5>
                <p class="card-text">Match kana with sounds.</p>
                <a href="game" class="btn btn-primary">Game</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Dates</h5>
                <p class="card-text">Learn how dates work.</p>
                <a href="dates" class="btn btn-primary">Dates</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Numerals</h5>
                <p class="card-text">Learn how to count.</p>
                <a href="numerals" class="btn btn-primary">Numerals</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Discussion</h5>
                <p class="card-text">Learn some useful sentences.</p>
                <a href="discussion" class="btn btn-primary">Discussion</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Verbs</h5>
                <p class="card-text">Learn conjugation.</p>
                <a href="verbs" class="btn btn-primary">Verbs</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Vocabulary</h5>
                <p class="card-text">Learn some common words.</p>
                <a href="vocabulary" class="btn btn-primary">Vocabulary</a>
            </div>
        </div>
    </div>
    @*<div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Morphological analyzer</h5>
                <p class="card-text">Analyze a sentence.</p>
                <a href="mecab" class="btn btn-primary">Analyzer</a>
            </div>
        </div>
    </div>*@
    <div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Transliteration</h5>
                <p class="card-text">Convert Rōmaji to Kana, ...</p>
                <a href="romaji" class="btn btn-primary">Transliterate</a>
            </div>
        </div>
    </div>
    @*<div class="col-xl-3 col-lg-6 p-2">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Translation</h5>
                <p class="card-text">Translate from/into Japanese.</p>
                <a href="translate" class="btn btn-primary">Translate</a>
            </div>
        </div>
    </div>*@
</div>
